.bg-main {
    background-image: url("/img/background.png");
}
.bg-courses {
    background-image: url("/img/background2.png");
}
.txt-mot {
    font-size: 2.25rem;
    margin-top: 2.15rem;
    margin-bottom: 2.15rem;
    text-align: justify;
    font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
}
.txt-result {
    font-family: 'Poppins';
}
.txt-courses {
    font-family: 'Poppins';
}
.embed-mot {
    border-radius: 15px;
}
.btn-courses {
    width: 290px;
}
.btn-forms {
    width: 500px;
}
.forms-bg {
    height: 460px;
}
.forms-style {
    width: 500px;
    margin-left: 31px;
    padding-top: 34px;
    font-family: 'Poppins';
}