.bg-main {
    background-image: url("/img/background.png");
}
.bg-courses {
    background-image: url("/img/background2.png");
}
.nav-fonts {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.txt-mot {
    font-size: 48px;
    margin-top: 2.15rem;
    margin-bottom: 2.15rem;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.txt-result {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.txt-courses {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.txt-courses-list {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 800;
}
.txt-courses-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 377px;
    height: 64px;
}
.embed-mot {
    border-radius: 15px;
}
.btn-courses {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 377px;
    height: 64px;
}
.btn-forms {
    width: 500px;
}
.bg-pre-form-one {
    height: 396px;
    font-family: 'Poppins';
}
.bg-pre-form-two {
    height: 300px;
}
.bg-awakening-txt {
    height: 530px;
}
.bg-ray-txt {
    height: 391px;
}
.forms-bg {
    height: 460px;
}
.forms-style {
    width: 500px;
    margin-left: 31px;
    padding-top: 34px;
    font-family: 'Poppins';
}